@font-face {
    font-family: "DINNextW1G";
    src: url("../fonts/DINNextW1G.otf");
}

body {
    background: url('../images/background.jpg');
}
.site-header {
    background: #181b20;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.top-menu-container {
    padding: 10px;
}

.site-header a, footer a{
    font-family: DINNextW1G,arial,georgia,sans-serif;
    font-size: 18px;
}

.main-page-col {
    padding: 25px;
}

a, h1, h2 {
    color: white;
}
h3 {
    font-size: 20px;
}
a:hover {
    color: #ff4655;
}

.logo {
    background: url('../images/logo.png');
    background-size: 35px;
    background-repeat: no-repeat;
    padding-left: 35px;
}

.main-card:hover { transform: scale(1.02); }

.main-card {
    transition-duration: 0.5s;
    transition-property: transform;
    transform: perspective(1px) translateZ(0);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #2f3338;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    background-clip: border-box;
    margin-bottom: 30px;
    .card-img-top {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .card-title {
        margin-bottom: 0;

        h3 {
            margin-bottom: 0;
        }
    }
    .card-body {
        padding: 15px;
    }

    a {
        font-family: arial, georgia, sans-serif;
        color: rgb(156, 159, 163);
    }

}

.main-card.hero {
    .card-img-top {
        background: url('../images/logo.png');
        background-size: cover;
    }
}

.main-row {
    background-color: #181b20;
    padding: 21px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}

.content-black {
    color: #9c9fa3;
}

.detail-page {
    background-color: white;
    margin-bottom: 25px;
    padding: 25px;
    margin-top: 25px;
    a, h1, h2 {
        color: black;
    }
}

.w-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: 20%;
    padding-right: 15px;
    padding-left: 15px;
}

footer {
    background: #181b20;
    margin-top: 30px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    color: white;
}



.min-hero-width {

    min-width: 195px;

    @media (max-width: 768px) {
        min-width: 500px;
    }

    @media (max-width: 1024px) {
        min-width: 250px;
    }
}

.main-hero-image {
    display: block;
    height: 290px;
    margin-left: 20px;
}

.main-hero-body{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: linear-gradient(0deg, #2f3338 0%, #2f3338 3%, rgba(0, 212, 255, 0) 22%);
}

.main-hero-title{
    position: absolute;
    bottom: 10px;
}

.main-hero-block{
    background: url('../images/logo.png') no-repeat;
    background-size: 270px;
    background-position-y: center;
    background-color: #2f3338;
    background-position-x: center;
}
